ion-content {
  --background: transparent!important;
  //--overflow: hidden;
}

body, html {
  background: transparent!important;
}

.cropper {
  background: transparent!important;
}

.main {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333 !important;
}

.camera-overlay {
  position: absolute;
}
// .overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
// }

.overlay {
  position: absolute;
  border: 1px solid #fff; // ou toute autre couleur
  background: transparent!important; // ou toute autre couleur
  top: 100px;
  left:50px;
  width: 200px;
  height:150px;
  z-index: 1;
}
.cameraPreview {
  width: 100%;
  height: 60%; 
  background: transparent!important;
}

#cameraPreview {
  width: 100%;
  height: 60%;
  background: transparent!important;
}

video {
  width: 100%;
  height: 60%;
  background: transparent!important;
}

#capture {
  position: absolute;
  top : 45%;
  left: calc(50% - 175px);
  width: 50px;
  height: 50px;
  z-index: 11;
  border: none !important;
}

#close {
  position: absolute;
  top : 45%;
  left: calc(50% + 125px);
  width: 50px;
  height: 50px;
  z-index: 11;
  border: none !important;
}

#capture::part(native) {
  border-radius: 30px;
}

#close::part(native) {
  border-radius: 30px;
}

ion-button {
  --border-radius: 0.5rem;
  --background: #444;
  border: 1px solid #666;
  border-radius: 0.5rem;
}

form {
  text-align: -webkit-center;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 400px; /* Définissez une largeur maximale pour éviter le débordement sur les petits écrans */
}

.num {
  background-color: transparent;
  width: 50px;
  text-align: center;
  outline: none;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: .5rem;
  color: white;
  font-family: futura;
  background: url('../../../assets/images/single-counter.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 66px;
  padding-left: 4px;
}

.num2 {
  color: black;
  background: url('../../../assets/images/single-counter-dec.png') no-repeat;
  background-size: contain;
  background-position: center;
}

/* Appliquez des styles spécifiques aux petits écrans */
@media screen and (max-width: 480px) {
  .container-form {
    max-width: 275px;
  }
  
  .num {
    width: 40px;
    height: 50px;
    font-size: 1.5rem;
  }
}